body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 14pt;
}


/* Util */
.w-full { width: 100%; }
.h-full { height: 100%; }

.p-0 { padding: 0; }
.p-px { padding: 1px; }
.p-2 { padding: 0.25rem; }
.p-4 { padding: 0.5rem; }
.p-8 { padding: 1rem; }

.m-0 { margin: 0; }
.m-px { margin: 1px; }
.m-2 { margin: 0.25rem; }
.m-4 { margin: 0.5rem; }
.m-8 { margin: 1rem; }
.mx-0 { margin-left: 0; margin-right: 0; }
.mx-px { margin-left: 1px; margin-right: 1px; }
.mx-2 { margin-left: 0.25rem; margin-right: 0.25rem; }
.mx-4 { margin-left: 0.5rem; margin-right: 0.5rem; }
.mx-8 { margin-left: 1rem; margin-right: 1rem; }
.my-0 { margin-top: 0; margin-bottom: 0; }
.my-px { margin-top: 1px; margin-bottom: 1px; }
.my-2 { margin-top: 0.25rem; margin-bottom: 0.25rem; }
.my-4 { margin-top: 0.5rem; margin-bottom: 0.5rem; }
.my-8 { margin-top: 1rem; margin-bottom: 1rem; }

.overflow-auto { overflow: auto; }
.overflow-hidden { overflow: hidden; }

.rounded { border-radius: 0.25rem; }
.rounded-0 { border-radius: 0; }

.shadow { box-shadow: 0px 0px 25px rgba(0,0,0,0.3); }

.block { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }

/* Flex */
.flex { display: flex; }
.flex-grow { flex-grow: 1; }
.flex-shrink { flex-shrink: 1; }
.flex-col { flex-direction: column; }
.flex-row { flex-direction: row; }


/* Colors/themes
 *
 * The closer to 0 a number is, the further "back" it represents from a visual perspective.
 * The same class applies the same kind of color, regardless of active theme. */
.bg-0 {
  background-color: #888;
}
.bg-1 {
  background-color: #fff;
}